body {
  margin: 0px;
  background-color: #D9D9D9;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.top-container {
  width: 100%;
  height: 55vh;
  position: relative;
  display: flex;
  justify-content: center;
}
.chord-selector {
  position: absolute;
  width: auto;
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}
.chord-select-label {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 150px;
  display: flex;
  background-color: #6A6E8A;
  justify-content: center;
  font-weight: bold;
}
select.chord-select-dropdown {
  width: 170px !important; 
  /**Fuck Best Practices**/
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ABABAB;
}
.chord-select-option {
  display: flex !important;
  justify-content: space-around;
  width: 100%;
}
.chord-select-option span {
  width: auto;
  height: 1rem;
  font-size: 1rem;
  min-width: 20.20%;
}

.caret-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.instruments {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.instrument-types-label {
  width: auto;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.instruments-container {
  display: flex;
  flex-direction: row;
  height: calc(45vh - calc(1.5rem + 30px));
}
.instrument-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  flex-grow: 1;
  padding-top: 10px;
}
.label {
  display: flex;
  width: 100%;
  justify-content: center;
}
.instrument-label {
  color: white;
  padding: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.5rem;
}
.instrument-buttons {
  display: flex;
}
.button-container-1, .button-container-3, .button-container-5 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  font-weight: bold;
}
.button-container-2, .button-container-4 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
}
.button-left {
  all: unset;
  width: 15px;
  height: 30px;
  border: 2px solid black;
  border-right: 1px solid black;
  border-radius: 15px 0px 0px 15px;
}
.button-right {
  all: unset;
  width: 15px;
  height: 30px;
  border: 2px solid black;
  border-left: 1px solid black;
  border-radius: 0px 15px 15px 0px;
}

.measures-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.measure-upper-container {
  width: 400px;
  display: flex;
  align-items: end;
  height: 150px;
}
.measure-lower-container {
  width: 400px;
  display: flex;
  align-items: start;
  height: 150px;
}
.measure-vert {
  width: 2px;
  background-color: black;
  height: 60px;
}
.measure-upper {
  width: calc(100% - 2px);
  display: flex;
  height: 90%;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px solid black;
}
.instrument-stack {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.instrument-stack.upper {
  justify-content: end;
}
.measure-lower {
  width: calc(100% - 2px);
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 2px solid black;
}
.instrument-block {
  width: 130px;
  height: 35px;
  max-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 3px;
  transition: max-height 0.3s;
}

.instrument-block.ON.drums  {
  background-color: #1b49bf;
}
.instrument-block.ON.kick, .instrument-block.ON.cymbal, .instrument-block.ON.snare {
  background-color: #1b49bf;
}
.instrument-block.ON.melody {
  background-color: #c21b1b;
}
.instrument-block.ON.bass {
  background-color: #1f870c;
}
.instrument-block.ON.auxiliary {
  background-color: #9d03fc;
}
.on {
  background-color: black;
}
.off {
  background-color: transparent;
}

.main_app_container {
  position: relative;
}
.initialize-audio-overlay {
  display: hidden;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  
}
.initialize-audio-button {
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.2rem;
  background-color: black;
  border-radius: 10px;
  color: white;
}
.OFF {
  height: 35px;
  max-height: 0px;
  overflow: hidden;
  padding: 0px;
  margin-bottom: 0px;
}
.ON {
  height: 35px;
  max-height: 35px;
}

.instrument-block.PREVIEW {
  height: 35px;
  max-height: 35px;
  background-color: lightgrey;
}

.home-page {
  height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.intro-text {
  height: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#myText2 {
  left: 0px;
  position: absolute;
  border: 1px solid black;
  height: 300px;
  width: 1px;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#myText2.DND {
  height: 450px;
}
.measure-outer {
  position: relative;
  overflow-x: visible;
}

@keyframes cruiseRight {
  from {
    transform: translateX(0px)
  }
  to {
    transform: translateX(800px);
  }
}
.chord-selector {
  z-index: 20;
}